.grid {
    padding: 10%;
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 2.5vh;
    background: linear-gradient(251.97deg, #2662BC 31.29%, rgba(35, 164, 128, 0.973698) 59.4%, rgba(32, 222, 74, 0.95) 91.94%);
  }
   
  .grid_item {
    width: 100%vh;
    height: 100%vh;
    background: white;
    border-radius: 40px;
    
  }

//   h1 {

//   }