.MembersGallery {
    background: linear-gradient(251.97deg, #2662BC 31.29%, rgba(35, 164, 128, 0.973698) 59.4%, rgba(32, 222, 74, 0.95) 91.94%)
}


.grid {
  padding: 8%;
  display: grid;
  grid-template-columns: repeat(5,1fr); //sames as grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; fr means fraction
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 2.5vh;
  background: transparent;

}


.grid_item {

  background: transparent;
  border-radius: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; // Ensure the div takes the full height of its parent

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 40px; 
  }

}

.selectAddSearch {
  padding: 2%;
  display: flex;
  justify-content: right;
  
}

#select, #add, #search {
  margin-right: 1.5vh;
  border:black;
  padding: 0.5%
}



